strict-peer-dependencies=false
auto-install-peers=false
@equity:registry=https://pkgs.dev.azure.com/ICT-DevOps/_packaging/equitybank-npm-feed/npm/registry/
always-auth=true

; begin auth token
//pkgs.dev.azure.com/ICT-DevOps/_packaging/equitybank-npm-feed/npm/registry/:username=ICT-DevOps
//pkgs.dev.azure.com/ICT-DevOps/_packaging/equitybank-npm-feed/npm/registry/:_password=NVE3dGhHRnBRTXVqSGJPSU1pV1ZFRlRtUHpnYlVteVN0V2pkUDdCb0VTejdXSTBEeEdNM0pRUUo5OUNHQUNBQUFBQU96YkNsQUFBU0FaRE9xTWVI
//pkgs.dev.azure.com/ICT-DevOps/_packaging/equitybank-npm-feed/npm/registry/:email=gibson.nakokonya@equitybank.co.ke
//pkgs.dev.azure.com/ICT-DevOps/_packaging/equitybank-npm-feed/npm/:username=ICT-DevOps
//pkgs.dev.azure.com/ICT-DevOps/_packaging/equitybank-npm-feed/npm/:_password=NVE3dGhHRnBRTXVqSGJPSU1pV1ZFRlRtUHpnYlVteVN0V2pkUDdCb0VTejdXSTBEeEdNM0pRUUo5OUNHQUNBQUFBQU96YkNsQUFBU0FaRE9xTWVI
//pkgs.dev.azure.com/ICT-DevOps/_packaging/equitybank-npm-feed/npm/:email=gibson.nakokonya@equitybank.co.ke
; end auth token