<div>
  <div class="d-flex justify-content-between">
    <h2>{{ 'BULK-TRANFER.UPDATE-TRANSACTION' | translate }}</h2>
    <div>
      <!-- *ngIf="i > 0" -->
      <button mat-button mat-dialog-close>
        <mat-icon
          class="cursor-pointer close-icon"
          color="primary"
          svgIcon="ic-close"></mat-icon>
      </button>
    </div>
  </div>
  <hr />
  <div class="container">
    <form [formGroup]="transactionForm" autocomplete="off">
      <div class="fieldset">
        <div class="wrapInput">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{
              'BULK-TRANFER.BENEFICIARY-NAME' | translate
            }}</mat-label>
            <input
              [disabled]="disable"
              formControlName="beneficiaryName"
              matInput
              placeholder="Beneficiary name"
              required />
            <!-- <mat-hint align="end">
        {{request.value.length}}/{{100}}
    </mat-hint> -->
          </mat-form-field>
        </div>

        <div class="wrapInput">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'BULK-TRANFER.BANK-NETWORK' | translate }}</mat-label>

            <select matNativeControl required>
              <option [value]="bankNetwork">{{ bankNetwork }}</option>
            </select>
          </mat-form-field>
        </div>

        <div class="wrapInput">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ 'BULK-TRANFER.ACCOUNT' | translate }}</mat-label>
            <input
              formControlName="account_Phone"
              matInput
              numbersOnly
              placeholder="Account/Phone no"
              required />
            <!-- <mat-hint align="end">
          {{request.value.length}}/{{100}}
      </mat-hint> -->
          </mat-form-field>
        </div>

        <div class="wrapInput">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'BULK-TRANFER.DEBIT' | translate }}</mat-label>
            <select formControlName="debitAccount" matNativeControl required>
              <option
                *ngFor="let item of accountNumbers"
                [value]="item.accountNumber">
                <div class="account-text">
                  <p class="debit-title">
                    {{ item.accountName }}
                  </p>
                  <p class="debit-desc">
                    Acco no {{ item.accountNumber }} ({{
                      item.accountCurrency
                    }}) &#x2022;
                    {{ item.schemeType }}
                  </p>
                </div>
              </option>
            </select>
          </mat-form-field>
        </div>

        <!-- Bottom -->
        <div class="inline-input">
          <div style="width: 30%">
            <mat-form-field appearance="fill" style="display: contents">
              <mat-select
                (selectionChange)="getCurrency($event)"
                formControlName="currency"
                required>
                <mat-option *ngFor="let item of currencies" [value]="item">
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div style="width: 70%">
            <mat-form-field appearance="fill" style="display: contents">
              <mat-label>{{ 'BULK-TRANFER.AMOUNT' | translate }}</mat-label>
              <input
                (keyup)="onTyping($event)"
                [options]="{
                  prefix: '',
                  thousands: ',',
                  decimal: '.',
                  allowNegative: false,
                  align: 'left'
                }"
                currencyMask
                formControlName="amount"
                placeholder="Amount"
                matInput
                required />
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="selectedCurrency !== 'KES'" class="wrapInput">
          <mat-form-field appearance="fill">
            <mat-label>{{ 'BULK-TRANFER.RATE' | translate }}</mat-label>
            <input
              [readonly]="!editable"
              [value]="exchRates"
              formControlName="rate"
              matInput
              placeholder="Rate" />
            <mat-hint align="start">
              {{ 'BULK-TRANFER.RATE-DEFAULT' | translate }}
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="wrapInput">
          <mat-form-field appearance="fill">
            <mat-label>{{
              'BULK-TRANFER.MODE-OF-PAYMENT' | translate
            }}</mat-label>

            <select matNativeControl required>
              <option [value]="modeOfPay">{{ modeOfPay }}</option>
            </select>
          </mat-form-field>
        </div>

        <div class="wrapInput">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{
              'BULK-TRANFER.REASON-FOR-PAYMENT' | translate
            }}</mat-label>
            <mat-select formControlName="paymentReason" required>
              <p class="pop-up-title">
                {{ 'BULK-TRANFER.REASON-FOR-PAYMENT' | translate }}
              </p>
              <hr class="section-divider" />
              <mat-option *ngFor="let item of paymentReason" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
            <!-- <mat-hint align="end">
          {{request.value.length}}/{{100}}
      </mat-hint> -->
          </mat-form-field>
        </div>

        <div class="wrapInput">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{ 'BULK-TRANFER.NARRATION' | translate }}</mat-label>
            <input
              formControlName="naration"
              matInput
              placeholder="Narrative" />
            <mat-hint align="start">
              {{ 'BULK-TRANFER.CAPTURE' | translate }}
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="bottom-buttons">
    <div class="pb-15 fx-row" style="margin-top: 15px">
      <button
        (click)="closeDialog(false)"
        class="btn-outline"
        color="primary"
        mat-stroked-button>
        {{ 'BULK-TRANFER.CANCEL' | translate }}
      </button>
      <span class="fx-flex"></span>
      <button
        (click)="updateTransaction()"
        [disabled]="isDisbled"
        class="ml-15"
        color="primary"
        mat-raised-button>
        {{ 'BULK-TRANFER.SAVE' | translate }}
      </button>
    </div>
  </div>
</div>

<!--
<mat-select
required
formControlName="bank"
>
<p class="pop-up-title">
 {{'BULK-TRANFER.BANK-OPERATORS' | translate}}
</p>
<hr class="section-divider" /> -->
<!-- <form
    class="search-form"
    [formGroup]="form"
    autocomplete="off"
>
    <div class="search-bar px-15">
        <input
            [formControlName]="'query'"
            placeholder="Search for bank"
            matInput

        />
        <div
            class="search-mats-icons"
        >
            <mat-icon
                role="img"
                class="mat-icon notranslate text-grey clear-search material-icons mat-icon-no-color"
                aria-hidden="true"
                data-mat-icon-type="font"
                *ngIf="!form.controls.query.value"
                (click)="onClearSearch()"
            >
            {{'BULK-TRANFER.CLOSE' | translate}}
            </mat-icon>
            <mat-icon
                role="img"
                class="mat-icon notranslate search-icon material-icons mat-icon-no-color"
                aria-hidden="true"
                data-mat-icon-type="font"
            >
             {{'BULK-TRANFER.SEARCH' | translate}}
            </mat-icon>
        </div>
    </div>
</form> -->

<!-- <mat-option
    *ngFor="let item of banks"
    [value]="item.name"
>
    {{ item.name }}
</mat-option>
</mat-select> -->
