.main {
  width: 100%;
  box-sizing: border-box;

  span.title {
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #221f1f;
  }

  span.subtitle {
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #929497;
    margin: 8px 0;
  }

  form {
    margin-top: 24px;

    .email-number-field {
      width: 100%;
    }

    .button-holder {
      margin-top: 24px;
      display: block;

      .action-btn {
        float: right;

        /* Equity Brown/Equity Brown - 500 */

        color: #a32a29;

        .action-btn-label {
          font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          /* identical to box height, or 150% */

          text-align: right;
        }
      }
    }
  }
}
