<div class="main" [formGroup]="form">
  <span class="header">{{
    'CUSTOMER.SAVE-INVEST.TRANSFER-DETAILS' | translate
  }}</span>
  <span class="main-label" *ngIf="mainLabel">{{ mainLabel }}</span>
  <mat-form-field class="input" appearance="fill">
    <mat-label>{{
      'CUSTOMER.SAVE-INVEST.CREDIT-ACCOUNT' | translate
    }}</mat-label>
    <input
      type="text"
      matInput
      placeholder="Enter amount"
      formControlName="creditAccount" />
    <mat-error *ngIf="form.controls['creditAccount'].hasError('required')">
      {{ 'CUSTOMER.SAVE-INVEST.CREDIT-ACCOUNT-IS' | translate }}
      <strong>{{ 'COMMON.REQUIRED' | translate }}</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="input" appearance="fill">
    <mat-label>
      {{ 'CUSTOMER.SAVE-INVEST.TRANSFER-AMOUNT' | translate }}</mat-label
    >
    <input
      type="text"
      matInput
      placeholder="Enter amount"
      formControlName="transferAmount"
      [errorStateMatcher]="matcher"
      numbersOnly />
    <mat-hint>
      {{ 'CUSTOMER.SAVE-INVEST.CREDITED-ACCOUNT-AMOUNT' | translate }}</mat-hint
    >
    <mat-error *ngIf="form.controls['transferAmount'].hasError('required')">
      {{ 'CUSTOMER.SAVE-INVEST.TRANSFER-AMOUNT-IS' | translate }}
      <strong>{{ 'COMMON.REQUIRED' | translate }}</strong>
    </mat-error>
  </mat-form-field>
</div>
