<div mat-dialog-title>
  <div fxLayout="row">
    <div>
      <h3
        class="mat-headline-6"
        style="
          color: #7b3c3b;
          font-weight: bolder;
          font-size: 20px;
          margin-bottom: 0;
        ">
        {{ 'COMMON.SEARCH' | translate }}
      </h3>
      <p style="font-size: 14px; color: #807676; font-weight: 600">
        <span
          *ngIf="data.localBank || (!data.cities && !data.branchCityCode)"
          >{{ 'SELECTION-DIALOG.SEARCH_BANKS_COUNTRIES' | translate }}</span
        >
        <span *ngIf="data.cities">{{
          'SELECTION-DIALOG.BRANCH-CITY-CODE' | translate
        }}</span>
        <span *ngIf="data.branchCityCode">{{
          'SELECTION-DIALOG.BRANCH-CODE' | translate
        }}</span>
      </p>
    </div>
    <span fxFlex></span>
    <mat-icon style="cursor: pointer" (click)="onNoClick()">close</mat-icon>
  </div>
  <form [formGroup]="form">
    <div class="search-bar px-15">
      <input
        [formControlName]="'query'"
        placeholder="Search"
        matInput
        autocomplete="off" />
      <div class="search-mats-icons">
        <mat-icon
          role="img"
          class="mat-icon notranslate text-grey clear-search material-icons mat-icon-no-color"
          aria-hidden="true"
          data-mat-icon-type="font"
          *ngIf="!!form.controls['query'].value"
          (click)="onClearSearch()">
          close
        </mat-icon>
        <mat-icon
          role="img"
          class="mat-icon notranslate search-icon material-icons mat-icon-no-color"
          aria-hidden="true"
          data-mat-icon-type="font">
          search
        </mat-icon>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-content>
  <section>
    <ng-container [ngSwitch]="data">
      <ng-container *ngIf="data.cities">
        <div
          class="bank-list-container"
          *ngFor="let opt of filteredBranchCityCodes; let last = last"
          (click)="onClickBranchCityCode(opt)">
          <div class="bank-list" [class.border-bottom]="!last">
            <div class="bank-list-name">
              <div class="text-truncate">{{ opt?.code }}</div>
              <div class="text-sm text-grey">
                {{ opt?.description || opt?.name }}
              </div>
            </div>
            <div>
              <mat-icon
                role="img"
                class="mat-icon notranslate mat-icon-no-color"
                aria-hidden="true"
                data-mat-icon-type="svg"
                data-mat-icon-name="radio_button_off"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="100%"
                  height="100%"
                  fill="none"
                  viewBox="0 0 24 25"
                  fit=""
                  preserveAspectRatio="xMidYMid meet"
                  focusable="false">
                  <rect
                    width="22"
                    height="22"
                    x="1"
                    y="1.5"
                    fill="#fff"
                    stroke="#A32A29"
                    stroke-width="2"
                    rx="11"></rect></svg
              ></mat-icon>
            </div>
          </div></div
      ></ng-container>

      <ng-container *ngIf="data.branchCityCode">
        <div
          class="bank-list-container"
          *ngFor="let opt of filteredBranchCodes; let last = last"
          (click)="onClickBranchCityCode(opt)">
          <div class="bank-list" [class.border-bottom]="!last">
            <div class="bank-list-name">
              <div class="text-truncate">{{ opt?.branchCode }}</div>
              <div class="text-sm text-grey">{{ opt?.name }}</div>
            </div>
            <div>
              <mat-icon
                role="img"
                class="mat-icon notranslate mat-icon-no-color"
                aria-hidden="true"
                data-mat-icon-type="svg"
                data-mat-icon-name="radio_button_off"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="100%"
                  height="100%"
                  fill="none"
                  viewBox="0 0 24 25"
                  fit=""
                  preserveAspectRatio="xMidYMid meet"
                  focusable="false">
                  <rect
                    width="22"
                    height="22"
                    x="1"
                    y="1.5"
                    fill="#fff"
                    stroke="#A32A29"
                    stroke-width="2"
                    rx="11"></rect></svg
              ></mat-icon>
            </div>
          </div></div
      ></ng-container>

      <ng-container *ngSwitchDefault>
        <div
          class="bank-list-container"
          *ngFor="let opt of filteredOptions | async; let last = last"
          (click)="onClickBank(opt)">
          <div class="bank-list" [class.border-bottom]="!last">
            <div class="bank-list-name">
              <div class="text-truncate">
                {{ opt.bankName || opt.bankFullName }}
              </div>
              <div class="text-sm text-grey">{{ opt.code }}</div>
            </div>
            <div>
              <mat-icon
                role="img"
                class="mat-icon notranslate mat-icon-no-color"
                aria-hidden="true"
                data-mat-icon-type="svg"
                data-mat-icon-name="radio_button_off"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="100%"
                  height="100%"
                  fill="none"
                  viewBox="0 0 24 25"
                  fit=""
                  preserveAspectRatio="xMidYMid meet"
                  focusable="false">
                  <rect
                    width="22"
                    height="22"
                    x="1"
                    y="1.5"
                    fill="#fff"
                    stroke="#A32A29"
                    stroke-width="2"
                    rx="11"></rect></svg
              ></mat-icon>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </section>
</div>
