<div class="topbar">
  <mat-toolbar class="toolbar mb-24">
    <div class="flex align-items-center">
      <div class="title toolbar-title-with-sub">Instant card issuance</div>
      <div class="text-light font-sm">Print card</div>
    </div>
  </mat-toolbar>
</div>
@if (showNotice) {
  <div class="notice relative border-normal">
    <mat-icon class="notice-icon" svgIcon="ic-info"></mat-icon>
    <div class="flex flex-col">
      <span class="notice-title">Card linkage verification</span>
      <span class="notice-subtitle"
        >Confirm that the card is linked to the correct account. Input the PAN to
        perform verification.</span
      >
    </div>
  </div>
}
<div class="section-container">
  <div class="card-info-section">
    <app-card-section
      slot="content"
      [isExpansionPanel]="false"
      sectionHeader=""
      sectionTitle="Card details">
      <div slot="content" class="item-wrapper pt-12 px-24">
        <div class="item">
          <div class="title">Card type</div>
          <div>card info</div>
        </div>
        <div class="item">
          <div class="title">Card currency</div>
          <div>card info</div>
        </div>
        <div class="item">
          <div class="title">Embossing name</div>
          <div>card info</div>
        </div>
        <div class="item">
          <div class="title">Daily cash withdrawal limit</div>
          <div>card info</div>
        </div>
        <div class="item">
          <div class="title">Daily E-commerce transaction limit</div>
          <div>card info</div>
        </div>
        <div class="item">
          <div class="title">PAN</div>
          <div>card info</div>
        </div>
        <div class="item">
          <div class="title">Linked account</div>
          <div>card info</div>
        </div>
        <div class="item">
          <div class="title">Account name</div>
          <div>card info</div>
        </div>
      </div>
    </app-card-section>
  </div>
  <div>
    <app-card-section
      slot="content"
      [isExpansionPanel]="false"
      sectionHeader=""
      sectionTitle="Card overview">
      <div slot="content" class="pt-12 px-24">
        <div class="relative card-section">
          <img
            class="equity-pan"
            src="assets/icons/equity-card.svg"
            alt="equity-card" />
          <img
            class="equity-logo"
            src="assets/icons/equity-logo.svg"
            alt="equity-logo" />
          <img
            class="equity-vectors"
            src="assets/icons/equity-card-vectors.svg"
            alt="equity-card-vectors" />
          <div class="valid-section">
            <p>VALID<br />UNTIL</p>
            <p class="date-section">01/28</p>
          </div>
          <p class="card-type-section">Debit Card</p>
          <p class="card-number-section">1234 5555 8888 3250</p>
          <div class="name-section">
            <p class="card-name">MATHIAS O. OJWANG</p>
            <p class="card-number">J01509995554422</p>
          </div>
          <p class="card-type-logo">VISA</p>
        </div>
      </div>
    </app-card-section>
  </div>
</div>
<div class="d-flex mtb-10 justify-content-between px-20 mt-30">
  <button mat-stroked-button color="primary">Quit</button>
  <button mat-raised-button color="primary" (click)="triggerPrint()">
    Print Card
  </button>
</div>
