<div class="dashboard-container">
  <header class="dashboard-header">
    <span class="table-head-label">
      {{ 'DASHBOARD.TABLE.TITLE' | translate }}
    </span>
    <span class="table-head-filter">
      <button mat-flat-button class="filter-toggle-btn" (click)="toggle()">
        <mat-icon svgIcon="ic-filter"></mat-icon>
        <span> {{ 'DASHBOARD.TABLE.FILTER.TITLE' | translate }}</span>
      </button>
    </span>
  </header>

  @if (toggleFilter) {
    <div class="ticket-filter">
      <div class="filter">
        <form [formGroup]="filterForm" class="filter-form" (ngSubmit)="onSubmit()">
          <span class="filter-field">
            <mat-form-field class="filter-fields" appearance="outline">
              <mat-label>{{ 'COMMON.STATUS' | translate }}</mat-label>
              <mat-select formControlName="status">
                @for (option of statusOptions; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field class="subject-filter-fields" appearance="outline">
              <mat-label>{{ 'COMMON.SUBJECT' | translate }}</mat-label>
              <mat-select formControlName="subject">
                @for (option of subjectOptions; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field class="createdBy-filter-fields" appearance="outline">
              <mat-label>{{ 'COMMON.CREATED_BY' | translate }}</mat-label>
              <input
                type="text"
                placeholder="Search Created By"
                aria-label="Created By"
                matInput
                formControlName="createdBy"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete #auto="matAutocomplete">
                @for (option of filteredCreatedByOptions$ | async; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="filter-fields" appearance="outline">
              <mat-label>{{ 'COMMON.CUSTOMER_ID' | translate }}</mat-label>
              <input matInput placeholder="Placeholder" formControlName="customerId" type="number" min="0" />
            </mat-form-field>

            <mat-form-field class="filter-fields" appearance="outline">
              <mat-label>{{ 'COMMON.TICKET_ID' | translate }}</mat-label>
              <input matInput placeholder="Placeholder" formControlName="ticketId" type="number" min="0" />
            </mat-form-field>

            <mat-form-field class="date-filter-fields" appearance="outline">
              <mat-label>{{ 'DASHBOARD.TABLE.FILTER.ENTER_DATE_RANGE' | translate }}</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="fromDate" (keypress)="keyDown($event)" placeholder="Start date" />
                <input matEndDate formControlName="toDate" (keypress)="keyDown($event)" placeholder="End date" />
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              @if (filterForm.get('fromDate')?.hasError('matStartDateInvalid')) {
                <mat-error>{{ 'COMMON.INVALID' | translate }} {{ 'COMMON.START_DATE' | translate }}</mat-error>
              }
              @if (filterForm.get('toDate')?.hasError('matEndDateInvalid')) {
                <mat-error>{{ 'COMMON.INVALID' | translate }} {{ 'COMMON.END_DATE' | translate }}</mat-error>
              }
              @if (checkDateError) {
                <mat-error>{{ errorMessage }}</mat-error>
              }
            </mat-form-field>
          </span>

          <span class="filter-btn">
            <button type="submit" mat-flat-button color="primary">
              {{ 'COMMON.SUBMIT' | translate }}
            </button>
            <button type="button" mat-stroked-button color="accent" (click)="clearFilters()">
              {{ 'COMMON.CANCEL' | translate }}
            </button>
          </span>
        </form>
      </div>

      @if (selctedChipItem.length > 0) {
        <div class="filter-chips">
          <mat-chip-listbox aria-label="Filter selection">
            @for (chip of selctedChipItem; track chip) {
              <mat-chip-option [selectable]="true" [removable]="true" (removed)="remove(chip)">
                {{ chip.value }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-option>
            }
          </mat-chip-listbox>
          <span>
            <button mat-stroked-button color="primary" (click)="clearAllFilters()">
              {{ 'DASHBOARD.TABLE.FILTER.CLEAR_FILTERS' | translate }}
            </button>
          </span>
        </div>
      }
    </div>
  }

  <div class="wrap_table_tickets">
    <table
      mat-table
      class="full-width-table"
      [dataSource]="dataSource"
      matSort
      matSortActive="createdOnUtc"
      matSortDisableClear
      matSortDirection="desc"
      aria-label="Tickets"
    >
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'COMMON.SUBJECT' | translate }}
        </th>
        <td mat-cell *matCellDef="let row" [class.hover-underline]="row.actionCssClass">
          <div class="subject-cell" (click)="handleTicketRouting(row)">
            <span>{{ row.subject }}</span>
            @if (row.label || row.actionFlowName) {
              <span class="text-muted">
                {{ row.label }} | {{ row.actionFlowName || row.actionFlowDescription }}
              </span>
            }
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'COMMON.CUSTOMER_NAME' | translate }}
        </th>
        <td mat-cell *matCellDef="let row">
          @if (row.subject === 'Funds transfer (inter, intra and pesa)') {
            <div>
              <div>{{ row.customerName }}</div>
              <div class="text-muted">{{ row.amount | currency: row.currency }}</div>
            </div>
          } @else {
            {{ row.customerName }}
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="customerCif">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'COMMON.CUSTOMER_CIF' | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.customerCif }}</td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'COMMON.TICKET_ID' | translate }}
        </th>
        <td mat-cell *matCellDef="let row" class="clickable" (click)="handleTicketRouting(row)">
          {{ row.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'COMMON.CREATED_BY' | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.createdBy }}</td>
      </ng-container>

      <ng-container matColumnDef="createdOnUtc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'COMMON.DATE_CREATED' | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.createdOnUtc + 'Z' | date: 'medium' }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'COMMON.STATUS' | translate }}
        </th>
        <td mat-cell *matCellDef="let row">
          <div [ngSwitch]="row.status" class="status-badge">
            <span *ngSwitchCase="'Error'" class="status-error">
              <button mat-icon-button
                [matTooltip]="row.error"
                matTooltipPosition="left"
                matTooltipClass="error-tooltip-red"
                aria-label="Error details">
                <mat-icon>error</mat-icon>
              </button>
              {{ 'COMMON.ERROR' | translate }}
            </span>
            <span *ngSwitchCase="'Rejected'" class="status-rejected">
              <button mat-icon-button
                [matTooltip]="row.note"
                matTooltipPosition="left"
                matTooltipClass="rejected-tooltip-orange"
                aria-label="Rejection note">
                <mat-icon>info</mat-icon>
              </button>
              {{ row.statusText }}
            </span>
            <span *ngSwitchCase="'Request Declined'" class="status-rejected">
              <button mat-icon-button
                [matTooltip]="row.note"
                matTooltipPosition="left"
                matTooltipClass="rejected-tooltip-orange"
                aria-label="Declined note">
                <mat-icon>info</mat-icon>
              </button>
              {{ row.statusText }}
            </span>
            <span *ngSwitchDefault
              [class.status-completed]="row.cssStatusClass === 'completed'"
              [class.status-error]="row.cssStatusClass === 'error'"
              [class.status-new]="row.cssStatusClass === 'new'">
              {{ row.statusText }}
            </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let row">
          @if (row?.showMenu) {
            <button mat-icon-button
              (click)="$event.stopPropagation()"
              [matMenuTriggerFor]="menu"
              [matMenuTriggerData]="{ row: row }"
              aria-label="Action menu">
              <mat-icon color="primary" svgIcon="ic-more" class="menu-icon"></mat-icon>
            </button>
          }
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"
        (click)="handleTicketRouting(row)"
        class="hover-row">
      </tr>
    </table>
  </div>

  <mat-paginator
    class="table-footer"
    #paginator
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="handlePageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-row="row">
    <button mat-menu-item (click)="handleTicketRouting(row)">
      <span>{{ 'COMMON.VIEW_DETAILS' | translate }}</span>
    </button>
  </ng-template>
</mat-menu>
