<div class="main" [formGroup]="form">
  <div class="input-group-holder">
    <mat-radio-group formControlName="withdrawOrRollover">
      <div class="input-radio">
        <mat-radio-button
          class="radio-button"
          value="withdraw"
          color="primary"></mat-radio-button>
        <div class="label-holder">
          <span class="label">{{ 'SAVE-INVEST.WITHDRAW' | translate }}</span>
          <span class="hint">
            {{ 'SAVE-INVEST.WITHDRAW-HINT' | translate }}
          </span>
        </div>
      </div>
      <div class="input-radio">
        <mat-radio-button
          class="radio-button"
          value="rollover"
          color="primary"></mat-radio-button>
        <div class="label-holder">
          <span class="label"> {{ 'SAVE-INVEST.ROLLOVER' | translate }} </span>
          <span class="hint">
            {{ 'SAVE-INVEST.ROLLOVER-HINT' | translate }}
          </span>
        </div>
      </div>
    </mat-radio-group>
  </div>

  <div class="input-group-holder">
    <mat-form-field
      class="input"
      appearance="fill"
      *ngIf="form.controls['withdrawOrRollover'].value === 'rollover'">
      <mat-label>{{ 'SAVE-INVEST.ROLLOVER-OPTION' | translate }}*</mat-label>
      <mat-select
        formControlName="rolloverOption"
        [errorStateMatcher]="matcher">
        <mat-option [value]="''" disabled>
          {{ 'SAVE-INVEST.SELECT-ROLLOVER-OPTION' | translate }}
        </mat-option>
        <mat-option
          *ngFor="let option of rolloverOptions$ | async"
          [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="form.controls['creditAccount'].hasError('required')">
          Credit account is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>
  </div>
</div>
