.document {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 16px;
  gap: 8px;
  background: #ffffff;
  border: 1px solid #d3d4d5;
  border-radius: 8px;
}

.add-group {
  box-sizing: border-box;
  border: 1px solid #d3d4d5;
  background-color: #fff;
  border-radius: 8px;

  .add-another-text {
    font-weight: 600;
    font-size: 16px;
  }

  button {
    padding: 5px 12px;
    width: 100%;
    text-align: start;
  }
}

#delete-btn:disabled {
  //padding-left: 12.5px !important;
  //margin-left: 16px;
  background-color: #f6f6f6 !important;
  color: rgba(163, 42, 41, 0.51) !important;
}
