form {
  display: flex;
  flex-direction: column;
}

mat-label {
  margin-bottom: 20px;
  font-size: 16px;
}

mat-form-field {
  width: 100%;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

.buttons-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  button {
    border-radius: 8px;
  }
}

.channel-name {
  color: #a32a29;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0 12px;
}

.sub-text {
  color: #929497;
}

.title {
  font-weight: 400;
}

.quit-btn {
  margin-right: 5px;
}
