.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0;
}

.toolbar {
  background: #ffffff;
  margin-bottom: 1.5rem;
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.title {
  font-weight: 500;
  font-size: 20px;
}

.vl {
  border-left: 2px solid #92949733;
  height: 30px;
  margin-left: 12px;
  margin-right: 12px;
}

.toolbar-page {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #929497;
}

// .toolbar {
//     display: flex;
//     justify-content: space-between;
// }

.title {
  margin-bottom: 0;
  margin-top: 0;
}

.subtitle-text {
  font-size: 0.875rem;
  color: #929497;
  margin: 0;
}

.activity-card {
  padding: 0 !important;
}

.activity-header {
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}

.toggle-section {
  padding: 0 10px;
}

.card-content {
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

// mat-label {
//     margin-bottom: 20px;
//     font-size: 16px;
// }

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

::ng-deep .mat-mdc-card-content {
  margin: 0 !important;
}

.buttons-section {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  .quit-btn {
    background-color: none;
    border: 1px solid #a32a29;
    border-radius: 0.5rem;
    min-width: 7rem;
  }

  .continue-btn {
    border-radius: 0.5rem;
    min-width: 7rem;
  }
}

.channel-name {
  color: #a32a29;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .sub-header-texts {
    width: 80%;

    h2 {
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2;
    }
  }
}

.checker-message {
  color: #929497;
}
