<form [formGroup]="sendToEquityAccountForm" class="transferDetailsWrapper">
  <app-collapsible
    [counter]="1"
    [title]="'MOVE-MONEY.SECTIONS.ACCOUNT-DETAILS.TITLE' | translate"
    [subText]="'MOVE-MONEY.SECTIONS.ACCOUNT-DETAILS.TEXT' | translate"
    [isActive]="true"
    [validControl]="DebitAccountDetailsForm">
    <div container>
      <app-mm-debit-account
        [form]="DebitAccountDetailsForm"
        [accounts]="allAccounts"
        [selectedDebitAccount]="selectedDebitAccount"></app-mm-debit-account>
    </div>
  </app-collapsible>
  <div class="mt-10">
    <app-collapsible
      [counter]="2"
      [title]="'MOVE-MONEY.SECTIONS.BENEFICIARY-DETAILS.TITLE' | translate"
      [subText]="'MOVE-MONEY.SECTIONS.BENEFICIARY-DETAILS.TEXT' | translate"
      [activeControl]="DebitAccountDetailsForm"
      [validControl]="BeneficiaryDetailsForm">
      <div container>
        <app-mm-local-beneficiary-account
          [form]="BeneficiaryDetailsForm"></app-mm-local-beneficiary-account>
      </div>
    </app-collapsible>
  </div>
  <div class="mt-10">
    <app-collapsible
      [counter]="3"
      [title]="'MOVE-MONEY.SECTIONS.PAYMENT-DETAILS.TITLE' | translate"
      [subText]="'MOVE-MONEY.SECTIONS.PAYMENT-DETAILS.TEXT' | translate"
      [activeControl]="DebitAccountDetailsForm"
      [validControl]="PaymentDetailsForm">
      <div container>
        <app-mm-payment-details
          [form]="PaymentDetailsForm"
          [bankID]="existingCustomerDetails.bankID"
          [CIF]="existingCustomerDetails.cif"
          [debitAccount]="selectedDebitAccount"
          [creditAccount]="selectedBenefactorAccount"
          (lockFields)="lockFormFields($event)"></app-mm-payment-details>
      </div>
    </app-collapsible>
  </div>
  <div class="mt-10">
    <app-collapsible
      [counter]="4"
      [title]="'MOVE-MONEY.SECTIONS.NARRATION-DETAILS.TITLE' | translate"
      [subText]="'MOVE-MONEY.SECTIONS.NARRATION-DETAILS.TEXT' | translate"
      [activeControl]="DebitAccountDetailsForm"
      [validControl]="NarrationDetailsForm">
      <div container>
        <app-mm-narration [form]="NarrationDetailsForm"></app-mm-narration>
      </div>
    </app-collapsible>
  </div>
  <div class="mt-10">
    <app-collapsible
      [counter]="5"
      [title]="'MOVE-MONEY.SECTIONS.ADDITIONAL-DETAILS.TITLE' | translate"
      [subText]="'MOVE-MONEY.SECTIONS.ADDITIONAL-DETAILS.TEXT' | translate"
      [activeControl]="DebitAccountDetailsForm"
      [validControl]="AdditionalDetailsForm">
      <div container>
        <app-mm-additional-delails
          [form]="AdditionalDetailsForm"
          [bankID]="existingCustomerDetails.bankID"
          [accountNumber]="
            selectedDebitAccount.accountNumber
          "></app-mm-additional-delails>
      </div>
    </app-collapsible>
  </div>
  <div class="mt-10">
    <app-collapsible
      [counter]="6"
      [title]="'MOVE-MONEY.SECTIONS.DOCUMENTS.TITLE' | translate"
      [subText]="'MOVE-MONEY.SECTIONS.DOCUMENTS.TEXT' | translate"
      [activeControl]="DebitAccountDetailsForm"
      [validControl]="AdditionalDetailsForm">
      <div container>
        <!-- <app-mm-additional-delails
          [form]="AdditionalDetailsForm"></app-mm-additional-delails> -->
        <app-mm-additional-documents
          [form]="AdditionalDocumentsForm"></app-mm-additional-documents>
      </div>
    </app-collapsible>
  </div>
</form>
