.mat-headline-6 {
  font-size: 20px; /* Adjust font size as needed */
  font-weight: 500;
  color: #3c3c3c; /* Use a color close to the image for better matching */
  padding: 16px 16px 8px; /* Adjust padding to create spacing above and below */
}

.mb-1 {
  margin-bottom: 16px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pl-16 {
    padding-left: 16px;
}

.mb-0{
    margin-bottom:0;
}
