<div class="mt-24">
  <div class="fx-column fx-fill fx-flex-100 fx-align-between-start">
    <p class="mat-subtitle-1 m-0 fw-600">
      {{
        'CUSTOMER.ACCOUNT-SERVICES.CHANGE-MANDATE-ACCOUNT.CHANGE-MANDATE-NEW-SIGNATORY.ADD_NEW_SIGNATORY_DETAILS'
          | translate
      }}
    </p>
    <p class="mat-body-2 text-muted">
      {{
        'CUSTOMER.ACCOUNT-SERVICES.CHANGE-MANDATE-ACCOUNT.CHANGE-MANDATE-NEW-SIGNATORY.ADD_DETAILS_OF_THE_NEWLY_SELECTED_SIGNATORIES_BELOW'
          | translate
      }}
    </p>
  </div>
</div>

<div>
  <div class="fx-column fx-fill fx-flex-100 fx-align-center-center">
    <div class="pb-32">
      <img
        width="273.75px"
        height="206.04px"
        src="../../../../../assets/icons/icon-no-results.svg"
        alt="no results found" />
    </div>
    <p class="text-max-width mb-32 text-muted">
      {{
        'CUSTOMER.ACCOUNT-SERVICES.CHANGE-MANDATE-ACCOUNT.CHANGE-MANDATE-NEW-SIGNATORY.NO_NEW_SIGNATORIES_HAVE_BEEN_ADDED_SELECT_A_NEW_SIGNATORY_FROM_THE'
          | translate
      }}
    </p>
  </div>
</div>
