@if (fields) {
  <app-additional-fields
    #fieldsComp
    [title]="'PAGES.CASH_REQUEST_202.TITLE' | translate"
    [fieldAttributes]="fields"
    (formReady)="onFormReady($any($event))"
  >
  </app-additional-fields>
}
<div class="mt-15 mt-15"></div>
<app-documents-upload
  [title]="'COMMON.REQUIRED_DOCUMENTS.LABEL' | translate"
  [description]="'STEPPER.DOCUMENTS-UPLOAD-TEXT' | translate"
  (onUploaded)="documents = $event"
  [requiredDocuments]="requiredDocuments"
>
</app-documents-upload>
<div class="mt-15 mb-15"></div>
<div class="flex flex-row mt-15">
  <button mat-stroked-button color="primary" [routerLink]="['/services/']">
    {{ 'COMMON.QUIT' | translate }}
  </button>
  <span class="flex-1"></span>
  <button mat-flat-button color="primary" [disabled]="!fieldsForm?.valid" (click)="submit()">
    {{ 'COMMON.SUBMIT' | translate }}
  </button>
</div>
