.account-cards-section {
  .caurosel {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.swipercontainer {
  width: 100% !important;
}

.swiper-slide {
  display: flex !important;
  width: auto !important;
  flex-direction: row !important;
  margin: 0.5% !important;
}
