<!-- <app-breadcrumb-navigation
  [config]="breadcrumbsConfig"
>
</app-breadcrumb-navigation> -->

<mat-card appearance="outlined" class="mat-card mat-focus-indicator main">
  <div class="mb-1">
    <h3
      class="mat-headline-6 head-title fw-600 m-0"
      *ngIf="creationType === 'fixed'">
      {{ 'SAVE-INVEST.FIXED-DEPOSIT.SAVINGS-ACCOUNT' | translate }}
    </h3>
    <h3 class="mat-headline-6 head-title fw-600 m-0" *ngIf="creationType === 'call'">
      {{ 'SAVE-INVEST.CALL-DEPOSIT.SAVINGS-ACCOUNT' | translate }}
    </h3>
    <mat-divider vertical class="vertical-divider"></mat-divider>
    <span class="head-subtitle">{{
      'SAVE-INVEST.REVIEW-DETAILS' | translate
    }}</span>
  </div>
</mat-card>

<app-info-box
  *ngIf="creationType === 'call'"
  [type]="'warning'"
  [messageTitle]="'SAVE-INVEST.CALL-DEPOSIT.INFO-TITLE' | translate"
  [messageDetail]="'SAVE-INVEST.CALL-DEPOSIT.INFO-DETAILS' | translate">
</app-info-box>

<mat-card appearance="outlined" class="mat-card mat-focus-indicator main">
  <div class="mb-1">
    <h3 class="mat-headline-6 head-title fw-400 mt-6 mb-8">
      {{ 'SAVE-INVEST.ACCOUNT-DETAILS' | translate }}
    </h3>
    <span class="subtitle mb-16" *ngIf="creationType === 'fixed'">{{
      'SAVE-INVEST.FIXED-DEPOSIT.ACCOUNT-DETAILS-REVIEW' | translate
    }}</span>
    <span class="subtitle mb-16" *ngIf="creationType === 'call'">{{
      'SAVE-INVEST.CALL-DEPOSIT.ACCOUNT-DETAILS-REVIEW' | translate
    }}</span>
  </div>

  <mat-divider></mat-divider>
  <app-investment-review-details
    [formData]="formData"
    [creationType]="creationType"></app-investment-review-details>

  <mat-divider *ngIf="creationType === 'fixed'"></mat-divider>
  <app-rollover-and-withdrawal-review-details
    *ngIf="creationType === 'fixed'"
    [formData]="formData"
    [creationType]="creationType"></app-rollover-and-withdrawal-review-details>

  <mat-divider></mat-divider>
  <app-payment-review-details
    [paymentDetails]="paymentDetails"
    [formData]="formData"
    [creationType]="creationType"></app-payment-review-details>

  <mat-divider></mat-divider>
  <div class="pt-20 pb-12">
    <h4 class="mat-headline-6 section-title fw-600 mt-6 mb-20">
      {{ 'SAVE-INVEST.SEND-NOTIFICATION' | translate }}
    </h4>
    <div class="row mb-20" [formGroup]="notificationsForm">
      <div class="flex-container">
        <mat-checkbox color="primary" formControlName="Sms">
          {{ 'COMMON.SMS' | translate }}
        </mat-checkbox>
        <mat-checkbox color="primary" formControlName="Email">
          {{ 'COMMON.EMAIL' | translate }}
        </mat-checkbox>
      </div>
    </div>
  </div>
</mat-card>

<div class="buttons-holder">
  <button
    mat-stroked-button
    color="primary"
    class="form-btn"
    (click)="navigate('quit')">
    {{ 'COMMON.QUIT' | translate }}
  </button>
  <button
    mat-flat-button
    color="primary"
    class="form-btn confirm"
    (click)="navigate('next')">
    {{ 'COMMON.NEXT' | translate }}
  </button>
  <button
    mat-stroked-button
    color="primary"
    class="form-btn back"
    (click)="navigate('back')">
    {{ 'COMMON.BACK' | translate }}
  </button>
</div>
