.delink {
  fw-600 {
    font-weight: 600;
  }
  .header-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      cursor: pointer;
      color: #a32a29;
      font-weight: 600;
    }
  }
  .fw-600 {
    font-weight: 600;
  }

  .mt-2 {
    margin-top: 2rem;
  }

  .customer-detail {
    display: flex;
    flex-direction: column;
  }

  .customer-details-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    //   grid-auto-rows: minmax(100px, auto);
  }
  .customer-detail-content {
    text-transform: capitalize;
  }
  .customer-detail-title {
    color: #929497;
    margin-bottom: 0 !important;
  }
  ::ng-deep .mdc-label {
    white-space: pre-wrap;
  }
  .name-avatar {
    width: 48px;
    height: 48px;
    background: #a32a29;
    border-radius: 80px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;

    & .p-text {
      margin: 10px 5px;
      letter-spacing: -2px;
    }
  }
  .d-block {
    display: block !important;
  }
  .mb-16 {
    margin-bottom: 16px;
  }
  .p-title {
    font-weight: 400;
    font-size: 20px;
  }
  .flex-row {
    flex-direction: row;
  }
  .m-1 {
    margin: 1rem !important;
  }
  .flex-1 {
    // flex: 1 !important;
  }
  .mb-05 {
    margin-bottom: 0.5rem !important;
  }
  .fw-400 {
    font-weight: 400 !important;
  }
  .w-25 {
    width: 25rem;
  }
  .rounded-circle2 {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #ffffff;
    margin-right: 1rem;
    text-align: center;
    line-height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // Extra small devices (portrait phones, less than 576px)
    @media (max-width: 575.98px) {
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767.98px) {
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) {
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199.98px) {
      width: 3.5rem;
      height: 3.5rem;
      line-height: 2.5rem;
      font-size: 1rem;
      font-weight: 600;
      background-color: #ffffff;
      margin-right: 1rem;
      text-align: center;
      font-weight: 600;
      border-radius: 50%;
      color: #fff;
      text-transform: uppercase;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 600;
      background-color: #ffffff;
      margin-right: 1rem;
      text-align: center;
      line-height: 3.5rem;
    }
  }
}
