<!-- doc.id ? downloadDoc(doc.id, doc.filename || doc.documentName) :  -->
<div
  class="col document-card"
  (click)="previewDocument(doc.id, doc.filename || doc.documentName)"
  [ngStyle]="{ 'background-image': 'url(' + bgImage + ')' }">
  <div style="display: initial">
    <div class="upload-instruction">
      <div style="padding: 8px" class="d-flex justify-content-between">
        <div>
          <p *ngIf="doc?.name" class="text doc">
            {{ doc?.name | translate }}
          </p>
          <p *ngIf="!doc?.name" class="text doc">
            {{ doc?.filename | translate }}
          </p>
          <p class="text instruction">
            {{ 'DOCUMENTS.FILE-SIZE-1MB' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
