.file-box-container {
  padding: 0;
  height: 192px;
  width: 335px;
  border: 1px solid rgba(146, 148, 151, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  background: #f7f7f7;
  &:hover {
    cursor: pointer;
  }
  & .--upper-container {
    height: 120px;

    & .--upper-image {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  & .--lower-container {
    height: 72px;
  }
}
