<mat-card appearance="outlined">
  <p class="mat-headline-6">Typography Levels</p>
  <hr />
  <table>
    <thead>
      <tr>
        <th>CSS Class</th>
        <th>Description</th>
        <th>Example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>mat-display-4</code></td>
        <td>
          112px, one-off header, usually at the top of the page (e.g. a hero
          header).
        </td>
        <td><span class="mat-headline-1">Display 4</span></td>
      </tr>
      <tr>
        <td><code>mat-display-3</code></td>
        <td>
          56px, one-off header, usually at the top of the page (e.g. a hero
          header).
        </td>
        <td><span class="mat-headline-2">Display 3</span></td>
      </tr>
      <tr>
        <td><code>mat-display-2</code></td>
        <td>
          45px, one-off header, usually at the top of the page (e.g. a hero
          header).
        </td>
        <td><span class="mat-headline-3">Display 2</span></td>
      </tr>
      <tr>
        <td><code>mat-display-1</code></td>
        <td>
          34px, one-off header, usually at the top of the page (e.g. a hero
          header).
        </td>
        <td><span class="mat-headline-4">Display 1</span></td>
      </tr>
      <tr>
        <td><code>mat-headline</code></td>
        <td>
          Section heading corresponding to the <code>&lt;h1&gt;</code> tag.
        </td>
        <td><span class="mat-headline-5">Headline</span></td>
      </tr>
      <tr>
        <td><code>mat-title</code></td>
        <td>
          Section heading corresponding to the <code>&lt;h2&gt;</code> tag.
        </td>
        <td><span class="mat-headline-6"></span>Title</td>
      </tr>
      <tr>
        <td><code>mat-subheading-2</code></td>
        <td>
          Section heading corresponding to the <code>&lt;h3&gt;</code> tag.
        </td>
        <td><span class="mat-subtitle-1">Sub-heading 2</span></td>
      </tr>
      <tr>
        <td><code>mat-subheading-1</code></td>
        <td>
          Section heading corresponding to the <code>&lt;h4&gt;</code> tag.
        </td>
        <td><span class="mat-body-1">Sub-heading 1</span></td>
      </tr>
      <tr>
        <td><code>mat-body-1</code></td>
        <td>Base body text.</td>
        <td><p class="mat-body-2">Lorem ipsum dolor sit amet.</p></td>
      </tr>
      <tr>
        <td><code>mat-body-2</code></td>
        <td>Bolder body text.</td>
        <td><span class="mat-subtitle-2">Lorem ipsum dolor sit amet.</span></td>
      </tr>
      <tr>
        <td><code>mat-caption</code></td>
        <td>Smaller body and hint text.</td>
        <td><span class="mat-caption">Lorem ipsum dolor sit.</span></td>
      </tr>
      <!--        <tr>-->
      <!--            <td><code>button</code></td>-->
      <!--            <td>Buttons and anchors.</td>-->
      <!--            <td><button class="mat-button" mat-raised-button>Button</button></td>-->
      <!--        </tr>-->
      <!--        <tr>-->
      <!--            <td><code>input</code></td>-->
      <!--            <td>Form input fields.</td>-->
      <!--            <td><input type="text" placeholder="Some placeholder" class="mat-input"></td>-->
      <!--        </tr>-->
    </tbody>
  </table>
</mat-card>
